HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/js/
*.p12
src/main/resources/application.properties
package-lock.json
src/main/resources/static/built/
src/main/resources/static/built/bundle.js
src/main/resources/static/built/bundle.js.map
src/main/resources/static/built/
!**/src/main/resources/static/built/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
node_modules
src/main/resources/static/built/node_modules_web-vitals_dist_web-vitals_js.bundle.js
src/main/resources/static/built/bundle.js
*.mp3
package-lock.json
src/main/resources/static/built/bundle.js
